html, body, #root {
  margin: 0;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #f9f9f9;
}

main {
  flex: 1;
  overflow: auto;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.header {
  font-size: 1.5em;
}

.flex-container {
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 2em 1em 2em 1em;
  border: 1px solid black;
}
section {
  height: 100%;
  overflow: auto;
  border-bottom: 1px solid;
}
.flex-item {
  background: #e8c47d;
  padding: .5em 1em .5em 1em;
  width: 400px;
  height: 200px;
  margin-top: 1em;
  
  color: black;
  font-size: .8em;
  text-align: left;
  border: 1px solid black
}

.desktop {
  display: block;
}
footer {
  display: none;
}
header {
  margin-bottom: 1em;
}

@media screen and (max-width: 1246px) {
  .desktop {
    display: none !important;
  }
  footer {
    display: initial !important;
  }
  header, footer {
    margin: 1em 2em 1em 2em;
  }
  .flex-container {
    background: #e8c47d;
    border: none;
    padding: 1em .5em 1em .5em;
  }
  .flex-item {
    background: #9999;
  }
  .mobile-card {
    display: none;
  }
  .desktop-card {
    display: block !important;
  }
}

.desktop-card {
  display: none;
}
header, footer {
  background: #000000;
  color: white;
  padding: 1em;
}
section:last-child {border: none}

.detailsModal {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

/* Loading Content */

.loadingText {
  text-align: center;
  color: #444;
  padding-top: 1em;
}


.homeLoadingText {
  text-align: center;
  color: white;
  padding-top: 1em;
}

/* Modal Container */

.modalContent {
  flex: 1;
  padding-bottom: 50px;
  overflow: auto;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

.modalContent img {
  align-self: center;
  padding-top: 1em;
}

.modalFooter {
  align-self: center;
}

/* Close Button */

.closeButton {
  border: 1px solid black;
  background-color: black;
  color: white;
  padding: 1em 2em;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
}

.closeButton:hover {
  background-color: #3c3c3c;
  cursor: pointer;
}

input, select {
  width: 15em;
  display: block;
  margin: .5em;
  padding: 1em;
  border-radius: 5px;
  border: 1px solid #ccc;
}
select {
  width: 17.1em;
}
button:hover {
  background: #eee;
}
button:active {
  background: #777;
}
button {
  margin: 1em;
  width: 10em;
  padding: 1em;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.receipt-header { 
  margin-bottom: 1em;
}

.contact > a:link {
  color: white;
  }
.contact > a:visited {
  color: #999999;
  }
.contact > a:hover {
  color: #9999;
  }

  /* loading animation */

  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
  }
